Options All -Indexes
RewriteEngine On
RewriteBase /

# 隱藏根目錄
RewriteRule ^dl/ckfinder/ckfinder.html$ dl/ckfinder/ckfinder.html.php [L,NC]

# 轉https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# 導向404頁面
# ErrorDocument 404 /jarvis-course/megaport/404.html