//- mixin 才能傳值進去，include 不行
mixin blockade(customClass)
  .c-blockade(class=customClass)
    .c-blockade__line
      //- end 結束動畫 / easing 延遲 / x 初始位置,可視位置,結束位置
      span.c-blockade__text 台灣最生猛海派的音樂祭 ——『 大港開唱 』
    .c-blockade__line
      span.c-blockade__text 台灣最生猛海派的音樂祭 ——『 大港開唱 』
    .c-blockade__line
      span.c-blockade__text 台灣最生猛海派的音樂祭 ——『 大港開唱 』
    .c-blockade__line
      span.c-blockade__text 台灣最生猛海派的音樂祭 ——『 大港開唱 』